.category-link {
    margin: 0 5px;
    padding: 16px 22px;
    font-size: 16px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 50px;
    line-height: 20px;
    font-weight: 400;
    font-size: 1.05rem;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.category-link:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}